<div class="py-5">
  <div class="container">
    <div class="row">
      <%= render "partials/panel"%>
      <div class="col-md-9">
        <div class="card  p-2" >
          <div class="card-body">
            <h1 class="mb-3 text-center">Resumen</h1>
            <h3 class="mb-2 text-center">Productos</h3>
            <ul class="list-group">
              
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>