<div class="py-5">
  <div class="container">
    <div class="row">
      <%= render "partials/panel"%>
      <% if !current_user %>
        <div class="col-md-9">     
          <% @products.each do |product|%>
            <div class="card  p-2" >
              <div class="card-body">
                <%= link_to product.p_name, product%> 
                <%= truncate(product.p_description, length:150)%><br>
              </div>
            </div>
          <%end%>
        </div>
        <%= will_paginate @products %>
      <%else%>
        <%render "index_admin"%>
      <%end%>        
    </div>
  </div>
</div>