<div class="py-5">
  <div class="container">
    <div class="row">
      <%= render "partials/panel"%>
      <div class="col-md-9">
        <div class="card  p-2" >
          <div class="card-body">
            <h1 class="mb-3 text-center">Compras</h1>
             
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card  p-1">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-6">
                            <h4 class="card-title my-2">Nombre del producto</h4>
                            <h6 class="card-subtitle text-muted">$ 165 . 00 x 1 unidad&nbsp;</h6>
                            <p class="card-text p-y-1">Fecha de compra: 27 de april del 2018</p>
                          </div>
                          <div class="col-md-3">
                            <h4 class="card-title my-2">Jesús Martínez</h4>
                            <h6 class="card-subtitle text-muted">000 000 0000</h6>
                            <a class="card-text p-y-3 btn  my-1">Ver mensajes</a>
                          </div>
                          <div class="col-md-3">
                            <a class="card-text p-y-3 btn my-4" href="purchase.html">Ver detalles</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>